//Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,200italic,100italic,300,300italic,900);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300);
$raleway: "Raleway", Helvetica, Sans-Serif; 
$quicksand: "Quicksand", Helvetica, Sans-Serif; 
$mainFont : $raleway;

//Colors

$white: white;
$black: black;

$lightGray: #F1F2F2;
$darkGray: #414042;
$mediumGray: #bcbec0;
$mediumGrayPlus: #6d6e71;
$blue: #1c75bc;



//Images
$startBackground:url(../img/startBack.jpg);



//Global Styles

.nextBorder{
	border: 4px solid;
	border-radius: 100%;
} 


@import 'global/globalLo';
@import 'global/globalM';
@import 'global/globalL';
@import 'global/globalXL';


