@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,200italic,100italic,300,300italic,900);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300);
.bold {
  font-weight: bold; }

body {
  overflow: hidden; }

.nextBorder {
  border: 2px solid;
  border-radius: 100%;
  line-height: 1; }

.container {
  display: table;
  height: 100vh;
  width: 100vw; }

.content {
  display: table-cell;
  vertical-align: middle; }

@media (min-width: 106.25em) {
  nav {
    display: none;
    width: 300px;
    position: fixed;
    right: 10px;
    top: 350px;
    z-index: 1000; }
    nav ul {
      width: 280px;
      margin: 0 auto;
      text-align: right; }
      nav ul li {
        list-style: none;
        font-family: "Quicksand", Helvetica, Sans-Serif;
        font-size: 30px;
        cursor: pointer;
        -webkit-transition: color 1.5s ease, font-size 1.5s ease;
        -moz-transition: color 1.5s ease, font-size 1.5s ease;
        -o-transition: color 1.5s ease, font-size 1.5s ease;
        transition: color 1.5s ease, font-size 1.5s ease; }
      nav ul .activeBlue {
        color: #414042;
        font-weight: bold; }
      nav ul .activeDark {
        color: #1c75bc;
        font-weight: bold; }
      nav ul .activeLight {
        color: #F1F2F2;
        font-weight: bold; }

  .dark {
    color: #414042; }
    .dark:hover {
      font-weight: bold; }

  .light {
    color: #6d6e71; }
    .light:hover {
      font-weight: bold; }

  .blue {
    color: #F1F2F2; }
    .blue:hover {
      font-weight: bold; } }
@media (min-width: 75em) and (max-width: 106.24em) {
  nav {
    display: none;
    width: 300px;
    position: fixed;
    top: 40vh;
    bottom: 0;
    right: 10px;
    z-index: 1100; }
    nav ul {
      width: 280px;
      margin: 0 auto;
      text-align: right; }
      nav ul li {
        list-style: none;
        font-family: "Quicksand", Helvetica, Sans-Serif;
        font-size: 20px;
        cursor: pointer;
        -webkit-transition: color 1.5s ease, font-size 1.5s ease;
        -moz-transition: color 1.5s ease, font-size 1.5s ease;
        -o-transition: color 1.5s ease, font-size 1.5s ease;
        transition: color 1.5s ease, font-size 1.5s ease; }
      nav ul .activeBlue {
        color: #414042;
        font-weight: bold; }
      nav ul .activeDark {
        color: #1c75bc;
        font-weight: bold; }
      nav ul .activeLight {
        color: #F1F2F2;
        font-weight: bold; }

  .dark {
    color: #414042; }
    .dark:hover {
      font-weight: bold; }

  .light {
    color: #6d6e71; }
    .light:hover {
      font-weight: bold; }

  .blue {
    color: #F1F2F2; }
    .blue:hover {
      font-weight: bold; } }
.start {
  background: url(../img/startBack-min.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh; }
  .start h1, .start h2 {
    color: #F1F2F2;
    font-family: "Raleway", Helvetica, Sans-Serif; }
  .start .nameStart {
    background-color: #404042; }
  .start .nextBorder {
    border-color: #F1F2F2; }
    .start .nextBorder:hover {
      border-color: #bcbec0; }
  .start .webdevLink {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    cursor: pointer; }
    .start .webdevLink:hover {
      color: #bcbec0;
      border-color: #bcbec0; }
  .start .nameStart {
    margin-top: 56vh; }
  .start h1 {
    font-weight: 100;
    font-size: 80px; }
  .start h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: -30px;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 10px; }
  .start .nextBorder {
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 54px;
    cursor: pointer; }
    .start .nextBorder:hover {
      color: #bcbec0; }

.webdev {
  background-color: #F1F2F2;
  height: 100vh;
  z-index: 100;
  display: block;
  position: relative; }

@media (min-width: 106.25em) {
  .webDevContainer {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    position: relative; }

  .webDevText {
    position: absolute;
    top: 405px;
    left: 385px;
    /* border:2px solid black;
     border-radius: 100px;
     height: 32vh;
     width: 32vh; 
     padding-top:3vh;
     padding-left: 1vh;
     */ }
    .webDevText h1 {
      font-family: "Quicksand", Helvetica, Sans-Serif;
      margin: 0;
      padding: 0;
      font-size: 55px;
      margin-bottom: -20px;
      color: #1c75bc;
      line-height: 1.2; }

  .webdevLinkModal {
    cursor: pointer;
    color: #414042; }
    .webdevLinkModal:hover {
      color: #1c75bc;
      font-weight: bold; }

  .php {
    background-color: #F1F2F2;
    font-size: 4vh;
    position: absolute;
    left: 405px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    text-transform: uppercase;
    top: 430px;
    -webkit-animation: phpOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: phpOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: phpOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: phpOrbit 200s linear infinite;
    /* Chrome, Firefox 16+,                                                       IE 10+, Safari 5 */ }

  .phpOrbit {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 330px;
    left: 315px;
    border: 2px solid #bcbec0;
    border-radius: 130px; }

  .python {
    font-family: "Quicksand", Helvetica, Sans-Serif;
    position: absolute;
    left: 400px;
    text-transform: uppercase;
    top: 440px;
    background-color: #F1F2F2;
    font-size: 20px;
    -webkit-animation: pythonOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: pythonOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: pythonOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: pythonOrbit 200s linear infinite;
          /* Chrome, Firefox 16+, 
IE 10+, Safari 5 */ }

  .pythonOrbit {
    width: 440px;
    height: 440px;
    position: absolute;
    top: 228px;
    left: 220px;
    border: 2px solid #bcbec0;
    border-radius: 753px; }

  .frontend {
    background-color: #F1F2F2;
    font-size: 2vh;
    position: absolute;
    left: 390px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    text-transform: uppercase;
    top: 430px;
    -webkit-animation: frontendOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: frontendOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: frontendOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: frontendOrbit 200s linear infinite;
              /* Chrome, Firefox 16+, 
IE 10+, Safari 5 */ }

  .frontendOrbit {
    width: 640px;
    height: 640px;
    position: absolute;
    top: 120px;
    left: 120px;
    border: 2px solid #bcbec0;
    border-radius: 753px; }

  .other {
    background-color: #F1F2F2;
    font-size: 3vh;
    position: absolute;
    left: 383px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    text-transform: uppercase;
    top: 423px;
    -webkit-animation: otherOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: otherOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: otherOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: otherOrbit 200s linear infinite;
        /* Chrome, Firefox 16+, 
IE 10+, Safari 5 */ }

  .otherOrbit {
    width: 850px;
    height: 850px;
    position: absolute;
    top: 12px;
    left: 16px;
    border: 2px solid #bcbec0;
    border-radius: 753px; }

  .orbitHover {
    border: 2px dotted #1c75bc !important; }

  @-webkit-keyframes phpOrbit {
    from {
      -webkit-transform: rotate(0deg) translateX(130px) rotate(0deg); }
    to {
      -webkit-transform: rotate(360deg) translateX(130px) rotate(-360deg); } }
  @-moz-keyframes phpOrbit {
    from {
      -moz-transform: rotate(0deg) translateX(130px) rotate(0deg); }
    to {
      -moz-transform: rotate(360deg) translateX(130px) rotate(-360deg); } }
  @-o-keyframes phpOrbit {
    from {
      -o-transform: rotate(0deg) translateX(130px) rotate(0deg); }
    to {
      -o-transform: rotate(360deg) translateX(130px) rotate(-360deg); } }
  @keyframes phpOrbit {
    from {
      transform: rotate(0deg) translateX(130px) rotate(0deg); }
    to {
      transform: rotate(360deg) translateX(130px) rotate(-360deg); } }
  @-webkit-keyframes pythonOrbit {
    from {
      -webkit-transform: rotate(-180deg) translateX(220px) rotate(180deg); }
    to {
      -webkit-transform: rotate(180deg) translateX(220px) rotate(-180deg); } }
  @-moz-keyframes pythonOrbit {
    from {
      -moz-transform: rotate(-180deg) translateX(220px) rotate(180deg); }
    to {
      -moz-transform: rotate(180deg) translateX(220px) rotate(-180deg); } }
  @-o-keyframes pythonOrbit {
    from {
      -o-transform: rotate(-180deg) translateX(220px) rotate(180deg); }
    to {
      -o-transform: rotate(180deg) translateX(220px) rotate(-180deg); } }
  @keyframes pythonOrbit {
    from {
      transform: rotate(-180deg) translateX(220px) rotate(180deg); }
    to {
      transform: rotate(180deg) translateX(220px) rotate(-180deg); } }
  @-webkit-keyframes frontendOrbit {
    from {
      -webkit-transform: rotate(-90deg) translateX(320px) rotate(90deg); }
    to {
      -webkit-transform: rotate(270deg) translateX(320px) rotate(-270deg); } }
  @-moz-keyframes frontendOrbit {
    from {
      -moz-transform: rotate(-90deg) translateX(320px) rotate(90deg); }
    to {
      -moz-transform: rotate(270deg) translateX(320px) rotate(-270deg); } }
  @-o-keyframes frontendOrbit {
    from {
      -o-transform: rotate(-90deg) translateX(320px) rotate(90deg); }
    to {
      -o-transform: rotate(270deg) translateX(320px) rotate(-270deg); } }
  @keyframes frontendOrbit {
    from {
      transform: rotate(-90deg) translateX(320px) rotate(90deg); }
    to {
      transform: rotate(270deg) translateX(320px) rotate(-270deg); } }
  @-webkit-keyframes otherOrbit {
    from {
      -webkit-transform: rotate(-270deg) translateX(420px) rotate(270deg); }
    to {
      -webkit-transform: rotate(90deg) translateX(420px) rotate(-90deg); } }
  @-moz-keyframes otherOrbit {
    from {
      -moz-transform: rotate(-270deg) translateX(420px) rotate(270deg); }
    to {
      -moz-transform: rotate(90deg) translateX(420px) rotate(-90deg); } }
  @-o-keyframes otherOrbit {
    from {
      -o-transform: rotate(-270deg) translateX(420px) rotate(270deg); }
    to {
      -o-transform: rotate(90deg) translateX(420px) rotate(-90deg); } }
  @keyframes otherOrbit {
    from {
      transform: rotate(-270deg) translateX(420px) rotate(270deg); }
    to {
      transform: rotate(90deg) translateX(420px) rotate(-90deg); } }
  .webdevModal {
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    z-index: 10000000;
    display: none;
    padding-top: 6vh;
    top: 0px;
    left: 0px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    font-size: 20px; }
    .webdevModal .sliderControls {
      font-size: 60px;
      color: #bcbec0; }
      .webdevModal .sliderControls div {
        padding: 0px 20px;
        cursor: pointer;
        display: inline-block; }
        .webdevModal .sliderControls div:hover {
          color: #414042; }
    .webdevModal .slick-slide {
      height: 500px; }
    .webdevModal .slick-slider {
      margin-top: 100px; }
    .webdevModal .slick-slider {
      height: 600px; }
    .webdevModal .slick-slide {
      height: 600px; }
    .webdevModal .exitIcon {
      font-size: 2em;
      position: fixed;
      top: 8vh;
      right: 10vw;
      color: #bcbec0;
      cursor: pointer; }
      .webdevModal .exitIcon:hover {
        color: #414042; }
    .webdevModal .menu {
      margin: 0;
      margin-bottom: 40px; }
      .webdevModal .menu li {
        list-style: none;
        display: inline;
        font-family: "Quicksand", Helvetica, Sans-Serif;
        font-size: 20px;
        padding: 0 20px;
        cursor: pointer; }
        .webdevModal .menu li:first-child {
          padding: 20px 0 0 0; }
        .webdevModal .menu li:hover {
          font-weight: bolder; }
      .webdevModal .menu .active {
        color: #414042;
        font-weight: bolder; } }
@media (min-width: 75em) and (max-width: 106.24em) {
  .container {
    display: table;
    height: 100vh;
    width: 100vw; }

  .content {
    display: table-cell;
    vertical-align: middle; }

  .webDevContainer {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative; }

  .webDevText {
    position: absolute;
    top: 263px;
    left: 260px;
    /* border:2px solid black;
     border-radius: 100px;
     height: 32vh;
     width: 32vh; 
     padding-top:3vh;
     padding-left: 1vh;
     */ }
    .webDevText h1 {
      font-family: "Quicksand", Helvetica, Sans-Serif;
      margin: 0;
      padding: 0;
      font-size: 35px;
      margin-bottom: -20px;
      color: #1c75bc; }

  .webdevLinkModal {
    cursor: pointer;
    color: #414042; }
    .webdevLinkModal:hover {
      color: #1c75bc;
      font-weight: bold; }

  .php {
    background-color: #F1F2F2;
    font-size: 4vh;
    position: absolute;
    left: 265px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    text-transform: uppercase;
    top: 280px;
    -webkit-animation: phpOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: phpOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: phpOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: phpOrbit 200s linear infinite;
    /* Chrome, Firefox 16+,                                                       IE 10+, Safari 5 */ }

  .phpOrbit {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 204px;
    left: 190px;
    border: 1px solid #bcbec0;
    border-radius: 130px; }

  .python {
    font-family: "Quicksand", Helvetica, Sans-Serif;
    position: absolute;
    left: 260px;
    text-transform: uppercase;
    top: 290px;
    background-color: #F1F2F2;
    font-size: 15px;
    -webkit-animation: pythonOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: pythonOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: pythonOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: pythonOrbit 200s linear infinite;
          /* Chrome, Firefox 16+, 
IE 10+, Safari 5 */ }

  .pythonOrbit {
    width: 320px;
    height: 320px;
    position: absolute;
    top: 143px;
    left: 130px;
    border: 1px solid #bcbec0;
    border-radius: 753px; }

  .frontend {
    background-color: #F1F2F2;
    font-size: 2vh;
    position: absolute;
    left: 260px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    text-transform: uppercase;
    top: 293px;
    -webkit-animation: frontendOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: frontendOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: frontendOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: frontendOrbit 200s linear infinite;
              /* Chrome, Firefox 16+, 
IE 10+, Safari 5 */ }

  .frontendOrbit {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 75px;
    left: 65px;
    border: 1px solid #bcbec0;
    border-radius: 753px; }

  .other {
    background-color: #F1F2F2;
    font-size: 3vh;
    position: absolute;
    left: 253px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    text-transform: uppercase;
    top: 286px;
    -webkit-animation: otherOrbit 200s linear infinite;
    /* Chrome, Safari 5 */
    -moz-animation: otherOrbit 200s linear infinite;
    /* Firefox 5-15 */
    -o-animation: otherOrbit 200s linear infinite;
    /* Opera 12+ */
    animation: otherOrbit 200s linear infinite;
        /* Chrome, Firefox 16+, 
IE 10+, Safari 5 */ }

  .otherOrbit {
    width: 570px;
    height: 570px;
    position: absolute;
    top: 13px;
    left: 4px;
    border: 1px solid #bcbec0;
    border-radius: 753px; }

  .orbitHover {
    border: 2px dotted #1c75bc !important; }

  @-webkit-keyframes phpOrbit {
    from {
      -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to {
      -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg); } }
  @-moz-keyframes phpOrbit {
    from {
      -moz-transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to {
      -moz-transform: rotate(360deg) translateX(100px) rotate(-360deg); } }
  @-o-keyframes phpOrbit {
    from {
      -o-transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to {
      -o-transform: rotate(360deg) translateX(100px) rotate(-360deg); } }
  @keyframes phpOrbit {
    from {
      transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to {
      transform: rotate(360deg) translateX(100px) rotate(-360deg); } }
  @-webkit-keyframes pythonOrbit {
    from {
      -webkit-transform: rotate(-180deg) translateX(160px) rotate(180deg); }
    to {
      -webkit-transform: rotate(180deg) translateX(160px) rotate(-180deg); } }
  @-moz-keyframes pythonOrbit {
    from {
      -moz-transform: rotate(-180deg) translateX(160px) rotate(180deg); }
    to {
      -moz-transform: rotate(180deg) translateX(160px) rotate(-180deg); } }
  @-o-keyframes pythonOrbit {
    from {
      -o-transform: rotate(-180deg) translateX(160px) rotate(180deg); }
    to {
      -o-transform: rotate(180deg) translateX(160px) rotate(-180deg); } }
  @keyframes pythonOrbit {
    from {
      transform: rotate(-180deg) translateX(160px) rotate(180deg); }
    to {
      transform: rotate(180deg) translateX(160px) rotate(-180deg); } }
  @-webkit-keyframes frontendOrbit {
    from {
      -webkit-transform: rotate(-90deg) translateX(220px) rotate(90deg); }
    to {
      -webkit-transform: rotate(270deg) translateX(220px) rotate(-270deg); } }
  @-moz-keyframes frontendOrbit {
    from {
      -moz-transform: rotate(-90deg) translateX(220px) rotate(90deg); }
    to {
      -moz-transform: rotate(270deg) translateX(220px) rotate(-270deg); } }
  @-o-keyframes frontendOrbit {
    from {
      -o-transform: rotate(-90deg) translateX(220px) rotate(90deg); }
    to {
      -o-transform: rotate(270deg) translateX(220px) rotate(-270deg); } }
  @keyframes frontendOrbit {
    from {
      transform: rotate(-90deg) translateX(220px) rotate(90deg); }
    to {
      transform: rotate(270deg) translateX(220px) rotate(-270deg); } }
  @-webkit-keyframes otherOrbit {
    from {
      -webkit-transform: rotate(-270deg) translateX(280px) rotate(270deg); }
    to {
      -webkit-transform: rotate(90deg) translateX(280px) rotate(-90deg); } }
  @-moz-keyframes otherOrbit {
    from {
      -moz-transform: rotate(-270deg) translateX(280px) rotate(270deg); }
    to {
      -moz-transform: rotate(90deg) translateX(280px) rotate(-90deg); } }
  @-o-keyframes otherOrbit {
    from {
      -o-transform: rotate(-270deg) translateX(280px) rotate(270deg); }
    to {
      -o-transform: rotate(90deg) translateX(280px) rotate(-90deg); } }
  @keyframes otherOrbit {
    from {
      transform: rotate(-270deg) translateX(280px) rotate(270deg); }
    to {
      transform: rotate(90deg) translateX(280px) rotate(-90deg); } }
  .webdevModal {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    z-index: 10000000;
    display: none;
    padding-top: 6vh;
    top: 0px;
    left: 0px;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    font-size: 15px; }
    .webdevModal .sliderControls {
      margin-top: 20px;
      font-size: 40px;
      color: #bcbec0; }
      .webdevModal .sliderControls div {
        padding: 0px 14px;
        cursor: pointer;
        display: inline-block; }
        .webdevModal .sliderControls div:hover {
          color: #414042; }
    .webdevModal .slick-slide {
      height: 300px; }
    .webdevModal .exitIcon {
      font-size: 26px;
      position: fixed;
      top: 8vh;
      right: 10vw;
      color: #bcbec0;
      cursor: pointer; }
      .webdevModal .exitIcon:hover {
        color: #414042; }
    .webdevModal .menu {
      margin: 0;
      margin-bottom: 40px; }
      .webdevModal .menu li {
        list-style: none;
        display: inline;
        font-family: "Quicksand", Helvetica, Sans-Serif;
        font-size: 18px;
        padding: 0 20px;
        cursor: pointer; }
        .webdevModal .menu li:first-child {
          padding: 20px 0 0 0; }
        .webdevModal .menu li:hover {
          font-weight: bolder; }
      .webdevModal .menu .active {
        color: #414042;
        font-weight: bolder; } }
.sysadmin {
  background-color: #1c75bc;
  height: 100vh;
  z-index: 100;
  position: relative; }

.circleInvert {
  background-color: #1c75bc !important;
  border: 5px solid #F1F2F2 !important; }

@media (min-width: 106.25em) {
  .sysadminContainer {
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    position: relative; }

  .circle {
    cursor: pointer;
    background-color: #F1F2F2;
    border: 5px solid #1c75bc;
    border-radius: 100px;
    z-index: 100; }
    .circle:hover {
      background-color: #1c75bc;
      border: 5px solid #F1F2F2; }

  .line {
    background-color: #F1F2F2; }

  .caption {
    font-family: "Quicksand", Helvetica, Sans-Serif;
    color: white;
    font-size: 25px;
    position: absolute;
    text-transform: uppercase; }

  .frame {
    font-family: "Quicksand", Helvetica, Sans-Serif;
    font-size: 18px;
    color: white;
    width: 80%;
    padding: 20px;
    text-align: justify;
    top: 400px;
    left: 50px;
    position: absolute;
    z-index: 100;
    line-height: 1.3;
    height: 500px; }
    .frame p {
      columns: 3;
      -webkit-columns: 3;
      column: 3;
      height: 220px; }

  .servicesCap {
    top: 173px;
    left: 700px; }

  .servicesDot {
    position: absolute;
    top: 170px;
    left: 645px;
    height: 50px;
    width: 50px; }

  .adminCap {
    top: 248px;
    left: 904px; }

  .cpCap {
    top: 334px;
    left: 750px; }

  .cpDot {
    position: absolute;
    top: 338px;
    left: 788px;
    height: 26px;
    width: 26px; }

  .cpLine {
    height: 2px;
    width: 100px;
    position: absolute;
    top: 308px;
    left: 785px;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg); }

  .emailDot {
    position: absolute;
    top: 266px;
    left: 575px;
    height: 26px;
    width: 26px; }

  .emailLine {
    height: 2px;
    width: 110px;
    position: absolute;
    top: 240px;
    left: 570px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg); }

  .mailCap {
    top: 260px;
    left: 510px; }

  .httpDot {
    position: absolute;
    top: 114px;
    left: 590px;
    height: 26px;
    width: 26px; }

  .httpLine {
    height: 2px;
    width: 100px;
    position: absolute;
    top: 159px;
    left: 586px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); }

  .httpCap {
    top: 107px;
    left: 520px; }

  .mySqlDot {
    position: absolute;
    top: 27px;
    left: 659px;
    height: 26px;
    width: 26px; }

  .mySqlLine {
    height: 2px;
    width: 150px;
    position: absolute;
    top: 106px;
    left: 596px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

  .mySqlCap {
    top: 22px;
    left: 565px; }

  .ftpDot {
    position: absolute;
    top: 35px;
    left: 840px;
    height: 26px;
    width: 26px; }

  .ftpCap {
    top: 30px;
    left: 870px; }

  .ftpLine {
    height: 2px;
    width: 250px;
    position: absolute;
    top: 130px;
    left: 625px;
    transform: rotate(-220deg);
    -webkit-transform: rotate(-220deg);
    -moz-transform: rotate(-220deg);
    -o-transform: rotate(-220deg);
    -ms-transform: rotate(-220deg); }

  .dnsLine {
    height: 2px;
    width: 250px;
    position: absolute;
    top: 195px;
    left: 420px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); }

  .dnsDot {
    position: absolute;
    top: 183px;
    left: 411px;
    height: 26px;
    width: 26px; }

  .dnsCap {
    top: 179px;
    left: 350px; }

  .adminLine {
    height: 2px;
    width: 380px;
    position: absolute;
    top: 263px;
    left: 660px;
    transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg); }

  .adminDot {
    position: absolute;
    top: 250px;
    left: 845px;
    height: 50px;
    width: 50px; }

  .securityLine {
    height: 2px;
    width: 50px;
    position: absolute;
    top: 230px;
    left: 846px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

  .securityCap {
    top: 184px;
    left: 885px; }

  .securityDot {
    position: absolute;
    top: 190px;
    left: 858px;
    height: 26px;
    width: 26px; }

  .cliLine {
    height: 2px;
    width: 50px;
    position: absolute;
    top: 283px;
    left: 860px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg); }

  .cliDot {
    position: absolute;
    top: 294px;
    left: 896px;
    height: 26px;
    width: 26px; }

  .cliCap {
    top: 315px;
    left: 865px; }

  .osDot {
    position: absolute;
    top: 316px;
    left: 1010px;
    height: 26px;
    width: 26px; }

  .osCap {
    top: 312px;
    left: 1040px; } }
@media (min-width: 75em) and (max-width: 106.24em) {
  .sysadminContainer {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: relative; }

  .circle {
    cursor: pointer;
    background-color: #F1F2F2;
    border: 5px solid #1c75bc;
    border-radius: 100px;
    z-index: 100; }
    .circle:hover {
      background-color: #1c75bc;
      border: 5px solid #F1F2F2; }

  .line {
    background-color: #F1F2F2; }

  .caption {
    font-family: "Quicksand", Helvetica, Sans-Serif;
    color: white;
    font-size: 20px;
    position: absolute;
    text-transform: uppercase; }

  .frame {
    pointer-events: none;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    font-size: 12px;
    color: white;
    width: 80%;
    padding: 20px;
    text-align: justify;
    top: 350px;
    left: 50px;
    position: absolute;
    z-index: 100;
    line-height: 1.3;
    height: 200px; }
    .frame p {
      columns: 3;
      -webkit-columns: 3;
      column: 3;
      height: 120px; }

  .servicesCap {
    top: 173px;
    left: 510px; }

  .servicesDot {
    position: absolute;
    top: 170px;
    left: 455px;
    height: 50px;
    width: 50px; }

  .adminCap {
    top: 248px;
    left: 714px; }

  .cpCap {
    top: 334px;
    left: 560px; }

  .cpDot {
    position: absolute;
    top: 338px;
    left: 598px;
    height: 26px;
    width: 26px; }

  .cpLine {
    height: 2px;
    width: 100px;
    position: absolute;
    top: 308px;
    left: 595px;
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg); }

  .emailDot {
    position: absolute;
    top: 266px;
    left: 385px;
    height: 26px;
    width: 26px; }

  .emailLine {
    height: 2px;
    width: 110px;
    position: absolute;
    top: 240px;
    left: 380px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg); }

  .mailCap {
    top: 264px;
    left: 335px; }

  .httpDot {
    position: absolute;
    top: 114px;
    left: 400px;
    height: 26px;
    width: 26px; }

  .httpLine {
    height: 2px;
    width: 100px;
    position: absolute;
    top: 159px;
    left: 396px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg); }

  .httpCap {
    top: 110px;
    left: 340px; }

  .mySqlDot {
    position: absolute;
    top: 27px;
    left: 469px;
    height: 26px;
    width: 26px; }

  .mySqlLine {
    height: 2px;
    width: 150px;
    position: absolute;
    top: 106px;
    left: 406px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

  .mySqlCap {
    top: 23px;
    left: 395px; }

  .ftpDot {
    position: absolute;
    top: 35px;
    left: 650px;
    height: 26px;
    width: 26px; }

  .ftpCap {
    top: 30px;
    left: 680px; }

  .ftpLine {
    height: 2px;
    width: 250px;
    position: absolute;
    top: 130px;
    left: 435px;
    transform: rotate(-220deg);
    -webkit-transform: rotate(-220deg);
    -moz-transform: rotate(-220deg);
    -o-transform: rotate(-220deg);
    -ms-transform: rotate(-220deg); }

  .dnsLine {
    height: 2px;
    width: 250px;
    position: absolute;
    top: 195px;
    left: 230px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); }

  .dnsDot {
    position: absolute;
    top: 183px;
    left: 221px;
    height: 26px;
    width: 26px; }

  .dnsCap {
    top: 181px;
    left: 170px; }

  .adminLine {
    height: 2px;
    width: 380px;
    position: absolute;
    top: 263px;
    left: 470px;
    transform: rotate(200deg);
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg); }

  .adminDot {
    position: absolute;
    top: 250px;
    left: 655px;
    height: 50px;
    width: 50px; }

  .securityLine {
    height: 2px;
    width: 50px;
    position: absolute;
    top: 230px;
    left: 656px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }

  .securityCap {
    top: 184px;
    left: 695px; }

  .securityDot {
    position: absolute;
    top: 190px;
    left: 668px;
    height: 26px;
    width: 26px; }

  .cliLine {
    height: 2px;
    width: 50px;
    position: absolute;
    top: 283px;
    left: 670px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg); }

  .cliDot {
    position: absolute;
    top: 294px;
    left: 706px;
    height: 26px;
    width: 26px; }

  .cliCap {
    top: 315px;
    left: 675px; }

  .osDot {
    position: absolute;
    top: 316px;
    left: 820px;
    height: 26px;
    width: 26px; }

  .osCap {
    top: 312px;
    left: 850px; } }
.exp {
  background-color: #414042;
  height: 100vh; }

@media (min-width: 106.25em) {
  .expContainer {
    height: 100vh;
    width: 1600px;
    position: relative; }

  .amcsOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 100px;
    z-index: 1; }

  .asusOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 500px;
    z-index: 1; }

  .hatorOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 850px;
    z-index: 1; }

  .paradowskiOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 1200px;
    z-index: 1; }

  .freelanceOrbit {
    border: 2px dashed #F1F2F2;
    border-radius: 10000px;
    height: 5000px;
    width: 5000px;
    position: absolute;
    top: 78px;
    left: -1440px;
    z-index: 1;
    pointer-events: none; }

  .amcsObject {
    position: absolute;
    top: 586px;
    left: 63px;
    height: 80px;
    width: 80px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .amcsText {
    top: 400px;
    left: 180px; }
    .amcsText h1 {
      font-size: 80px; }

  .asusText {
    top: 400px;
    left: 580px; }
    .asusText h1 {
      font-size: 70px;
      margin-top: 10px;
      margin-bottom: 10px; }

  .hatorText {
    top: 400px;
    left: 920px; }
    .hatorText h1 {
      font-size: 60px;
      margin-bottom: 15px;
      margin-top: 18px; }

  .paradowskiText {
    top: 400px;
    left: 1260px; }
    .paradowskiText h1 {
      font-size: 45px;
      margin-bottom: 15px;
      margin-top: 30px; }

  .asusObject {
    position: absolute;
    top: 216px;
    left: 482px;
    height: 80px;
    width: 80px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .hatorObject {
    position: absolute;
    top: 806px;
    left: 862px;
    height: 50px;
    width: 50px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .paradowskiObject {
    position: absolute;
    top: 276px;
    left: 1196px;
    height: 40px;
    width: 40px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .expText {
    z-index: 1000;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    position: absolute;
    color: lightGray; }
    .expText h1, .expText h2 {
      font-family: "Quicksand", Helvetica, Sans-Serif; }
    .expText p {
      margin-top: -10px; }
    .expText h2 {
      margin-top: -40px;
      font-size: 39px; }
    .expText h1 {
      text-transform: uppercase; }
    .expText p {
      border-top: 2px solid #F1F2F2;
      padding: 10px 0px;
      font-size: 20px; }
    .expText span {
      font-size: 15px;
      display: block; }

  .moreInfoButton {
    z-index: 1000;
    cursor: pointer;
    width: 145px;
    text-align: center;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    border: 1px solid #F1F2F2;
    padding: 5px; }
    .moreInfoButton:hover {
      background-color: #F1F2F2;
      color: #414042; }

  .expColor {
    background-color: yellow !important; }

  .sputnik {
    position: absolute;
    top: 100px;
    left: 677px;
    max-width: 24px;
    z-index: 100;
    color: lightGray; }
    .sputnik h2 {
      font-size: 25px; }
    .sputnik .freelanceText {
      position: absolute;
      top: 31px;
      left: -21px; }

  .invertedModal {
    width: 100vw;
    height: 100vh;
    background: #414042;
    position: fixed;
    z-index: 10000000;
    display: none;
    padding-top: 6vh;
    top: 0px;
    left: 0px; }
    .invertedModal h1 {
      color: #F1F2F2;
      font-family: "Raleway", Helvetica, Sans-Serif; }
    .invertedModal h2 {
      color: #F1F2F2;
      font-family: "Raleway", Helvetica, Sans-Serif; }
    .invertedModal p {
      color: #F1F2F2;
      font-size: 20px; }
    .invertedModal .sliderControls {
      margin-top: 20px;
      font-size: 60px;
      color: #F1F2F2; }
      .invertedModal .sliderControls div {
        padding: 0px 20px;
        cursor: pointer;
        display: inline-block; }
        .invertedModal .sliderControls div:hover {
          color: #bcbec0; }
    .invertedModal .slick-slide {
      height: 600px; }
    .invertedModal .exitIcon {
      font-size: 3em;
      position: fixed;
      top: 8vh;
      right: 10vw;
      color: #F1F2F2;
      cursor: pointer; }
      .invertedModal .exitIcon:hover {
        color: #bcbec0; }
    .invertedModal .menu {
      margin: 0;
      margin-bottom: 40px; }
      .invertedModal .menu li {
        color: #F1F2F2;
        list-style: none;
        display: inline;
        font-family: "Quicksand", Helvetica, Sans-Serif;
        font-size: 20px;
        padding: 0 20px;
        cursor: pointer; }
        .invertedModal .menu li:first-child {
          padding: 20px 0 0 0; }
        .invertedModal .menu li:hover {
          font-weight: bolder; }
      .invertedModal .menu .active {
        color: #F1F2F2;
        font-weight: bolder; } }
@media (min-width: 75em) and (max-width: 106.24em) {
  .expContainer {
    height: 100vh;
    width: 1600px;
    position: relative; }

  .amcsOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 50px;
    z-index: 1; }

  .asusOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 340px;
    z-index: 1; }

  .hatorOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 600px;
    z-index: 1; }

  .paradowskiOrbit {
    border: 2px solid #F1F2F2;
    border-radius: 10000px;
    height: 3000px;
    width: 3000px;
    position: absolute;
    top: -1000px;
    left: 820px;
    z-index: 1; }

  .freelanceOrbit {
    border: 2px dashed #F1F2F2;
    border-radius: 10000px;
    height: 5000px;
    width: 5000px;
    position: absolute;
    top: 78px;
    left: -1440px;
    z-index: 1;
    pointer-events: none; }

  .amcsObject {
    position: absolute;
    top: 180px;
    left: 50px;
    height: 60px;
    width: 60px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .amcsText {
    top: 300px;
    left: 80px;
    color: lightGray; }
    .amcsText h2 {
      font-family: "Quicksand", Helvetica, Sans-Serif; }
    .amcsText h1 {
      font-size: 65px;
      margin-top: -12px;
      margin-bottom: 22px; }

  .asusText {
    top: 300px;
    left: 380px; }
    .asusText h1 {
      font-size: 50px;
      margin-top: 8px;
      margin-bottom: 22px; }

  .hatorText {
    top: 300px;
    left: 635px; }
    .hatorText h1 {
      font-size: 35px;
      margin-bottom: 25px;
      margin-top: 26px; }

  .paradowskiText {
    top: 300px;
    left: 860px; }
    .paradowskiText h1 {
      font-size: 20px;
      margin-bottom: 25px;
      margin-top: 47px; }

  .asusObject {
    position: absolute;
    top: 46px;
    left: 375px;
    height: 55px;
    width: 55px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .hatorObject {
    position: absolute;
    top: 506px;
    left: 585px;
    height: 35px;
    width: 35px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .paradowskiObject {
    position: absolute;
    top: 276px;
    left: 815px;
    height: 40px;
    width: 40px;
    background-color: #F1F2F2;
    border-radius: 300px;
    z-index: 1000; }

  .expText {
    z-index: 1000;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    position: absolute;
    color: lightGray; }
    .expText h1, .expText h2 {
      font-family: "Quicksand", Helvetica, Sans-Serif; }
    .expText p {
      margin-top: -10px; }
    .expText h2 {
      margin-top: -40px;
      font-size: 25px; }
    .expText h1 {
      text-transform: uppercase; }
    .expText p {
      border-top: 2px solid #F1F2F2;
      padding: 5px 0px;
      font-size: 15px; }
    .expText span {
      font-size: 15px;
      display: block; }

  .moreInfoButton {
    z-index: 1000;
    cursor: pointer;
    width: 145px;
    text-align: center;
    font-family: "Quicksand", Helvetica, Sans-Serif;
    border: 1px solid #F1F2F2;
    padding: 5px;
    font-size: 10px; }
    .moreInfoButton:hover {
      background-color: #F1F2F2;
      color: #414042; }

  .expColor {
    background-color: yellow !important; }

  .sputnik {
    position: absolute;
    top: 100px;
    left: 677px;
    max-width: 24px;
    z-index: 100;
    color: lightGray; }
    .sputnik h2 {
      font-size: 25px; }
    .sputnik .freelanceText {
      position: absolute;
      top: 31px;
      left: -21px; }

  .invertedModal {
    width: 100vw;
    height: 100vh;
    background: #414042;
    position: fixed;
    z-index: 10000000;
    display: none;
    padding-top: 6vh;
    top: 0px;
    left: 0px; }
    .invertedModal h1 {
      color: #F1F2F2;
      font-family: "Raleway", Helvetica, Sans-Serif; }
    .invertedModal h2 {
      color: #F1F2F2;
      font-family: "Raleway", Helvetica, Sans-Serif; }
    .invertedModal p {
      color: #F1F2F2;
      font-size: 15px; }
    .invertedModal .sliderControls {
      margin-top: 20px;
      font-size: 40px;
      color: #F1F2F2; }
      .invertedModal .sliderControls div {
        padding: 0px 14px;
        cursor: pointer;
        display: inline-block; }
        .invertedModal .sliderControls div:hover {
          color: #bcbec0; }
    .invertedModal .slick-slide {
      height: 300px; }
    .invertedModal .exitIcon {
      font-size: 26px;
      position: fixed;
      top: 8vh;
      right: 10vw;
      color: #F1F2F2;
      cursor: pointer; }
      .invertedModal .exitIcon:hover {
        color: #bcbec0; }
    .invertedModal .menu {
      margin: 0;
      margin-bottom: 40px; }
      .invertedModal .menu li {
        list-style: none;
        display: inline;
        font-family: "Quicksand", Helvetica, Sans-Serif;
        font-size: 18px;
        padding: 0 20px;
        color: #F1F2F2;
        cursor: pointer; }
        .invertedModal .menu li:first-child {
          padding: 20px 0 0 0; }
        .invertedModal .menu li:hover {
          font-weight: bolder; }
      .invertedModal .menu .active {
        color: #F1F2F2;
        font-weight: bolder; } }
.about {
  background-color: #F1F2F2;
  height: 100vh;
  z-index: 10;
  position: relative;
  display: block; }
  .about .aboutSpace {
    background: url("../img/sci4-min.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 100vw 0 rgba(0, 0, 0, 0.7); }
  .about .aboutMovies {
    background: url("../img/casa-min.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 100vw 0 rgba(0, 0, 0, 0.7); }
  .about .aboutSciFic {
    background: url("../img/sci2-min.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 100vw 0 rgba(0, 0, 0, 0.7); }
  .about .aboutBoardGames {
    background: url("../img/board-min.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 100vw 0 rgba(0, 0, 0, 0.7); }
  .about .aboutElectronics {
    background: url("../img/electronics-min.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 100vw 0 rgba(0, 0, 0, 0.5); }
  @media (min-width: 75em) and (max-width: 106.24em) {
    .about .aboutSlide {
      width: 100vw;
      height: 100vh;
      font-family: "Quicksand", Helvetica, Sans-Serif; }
      .about .aboutSlide h1 {
        color: white;
        margin-top: 100px;
        font-family: "Quicksand", Helvetica, Sans-Serif; }
      .about .aboutSlide p {
        line-height: 1;
        color: white;
        text-align: justify; }
    .about .sliderControls {
      line-height: 1;
      font-size: 40px;
      color: white;
      z-index: 100000000;
      position: absolute;
      top: 380px;
      left: 250px; }
      .about .sliderControls div {
        width: 50px;
        height: 50px;
        padding: 0px 14px;
        cursor: pointer;
        display: inline-block; }
        .about .sliderControls div:hover {
          color: #414042; } }
  @media (min-width: 106.25em) {
    .about .aboutSlide {
      width: 100vw;
      height: 100vh;
      padding-top: 123px;
      font-family: "Quicksand", Helvetica, Sans-Serif; }
      .about .aboutSlide h1 {
        color: white;
        margin-top: 100px;
        font-family: "Quicksand", Helvetica, Sans-Serif; }
      .about .aboutSlide p {
        line-height: 1;
        color: white;
        text-align: justify;
        font-size: 20px; }
    .about .sliderControls {
      line-height: 1;
      margin-top: 300px;
      font-size: 63px;
      color: white;
      z-index: 100000000;
      position: absolute;
      top: 380px;
      left: 574px; }
      .about .sliderControls div {
        width: 70px;
        height: 70px;
        padding: 0px 20px;
        cursor: pointer;
        display: inline-block; }
        .about .sliderControls div:hover {
          color: #414042; } }

.contact {
  background-color: #6d6e71;
  height: 100vh;
  position: relative;
  display: block;
  z-index: 100; }
  @media (min-width: 106.25em) {
    .contact h1 {
      margin-top: 300px;
      font-family: "Quicksand", Helvetica, Sans-Serif;
      color: #F1F2F2;
      font-size: 90px; }
    .contact p {
      font-family: "Raleway", Helvetica, Sans-Serif;
      color: lightGray; }
      .contact p a {
        color: #414042; }
        .contact p a:hover {
          color: #F1F2F2; } }
  @media (min-width: 75em) and (max-width: 106.24em) {
    .contact h1 {
      margin-top: 200px;
      font-family: "Quicksand", Helvetica, Sans-Serif;
      color: #F1F2F2;
      font-size: 90px; }
    .contact p {
      font-family: "Raleway", Helvetica, Sans-Serif;
      color: lightGray; }
      .contact p a {
        color: #414042; }
        .contact p a:hover {
          color: #F1F2F2; } }

/*# sourceMappingURL=style.css.map */
