@include mq($from: "wide") {
	.sysadminContainer{
		width: 1600px;
	    height: 600px;
	    margin: 0 auto;
	    position: relative;
	}


	.circle{	
		cursor:pointer;
		background-color: $lightGray;
		border:5px solid $blue;
		border-radius: 100px;
		z-index: 100;
		&:hover{
			background-color: $blue;
			border:5px solid $lightGray
		}
	}


	
	.line{
		background-color: $lightGray;
	}

	.caption{
		font-family: $quicksand;
		color:white;
		font-size: 25px;
		position: absolute;
		text-transform: uppercase;
	}
	.frame{
		font-family: $quicksand;
	    font-size: 18px;
	    color: white;
	    width: 80%;
	    padding: 20px;
	    text-align: justify;
	    top: 400px;
	    left: 50px;
	    position: absolute;
	    z-index: 100;
	    line-height: 1.3;
	   	height: 500px;
	    p{
		    columns:3;
		    -webkit-columns:3;
		    column:3;
		    height: 220px;
	    }

	}


	$startX:350px; 
	$startY:-120px; 
	$smallDotSize: 26px;





	.servicesCap{
		top: 293px + $startY;
		left: 350px + $startX;
	}

	.servicesDot{
		@include dot($startX + 295px,$startY + 290px,50px);
	}



	.adminCap{
		top:368px + $startY;
		left: 554px + $startX;
	}



	.cpCap{
		top:454px + $startY;
		left: 400px + $startX;
	}
	.cpDot{
		@include dot($startX + 438px,$startY + 458px,$smallDotSize);
	}

	.cpLine{
		@include line(100px,2px,$startX + 435px,$startY + 428px);
		@include rotate(-50deg);
	}


	.emailDot{
		@include dot($startX + 225px,$startY + 386px,$smallDotSize);
	}

	.emailLine{
		@include line(110px,2px,$startX + 220px,$startY + 360px);
		@include rotate(135deg);
	}

	.mailCap{
		top:380px + $startY;
		left: 160px + $startX;
	}


	.httpDot{
		@include dot($startX + 240px,$startY + 234px,$smallDotSize);
	}

	.httpLine{
		@include line(100px,2px, $startX + 236px ,$startY + 279px);
		@include rotate(45deg);
	}

	.httpCap{
		top:227px + $startY;
		left: 170px + $startX;
	}

	.mySqlDot{
		@include dot($startX + 309px,$startY + 147px,$smallDotSize);
	}
	.mySqlLine{
		@include line(150px,2px,$startX + 246px,$startY + 226px);
		@include rotate(90deg);
	}
	.mySqlCap{
		
		top:142px + $startY;
		left: 215px + $startX;
	}

	.ftpDot{ 
		@include dot($startX + 490px,$startY + 155px,$smallDotSize);
	}
	.ftpCap{
		top:150px + $startY;
		left: 520px + $startX;
	}
	.ftpLine{
		@include line(250px,2px,$startX + 275px,$startY + 250px);
		@include rotate(-220deg);
	}

	.dnsLine{
		@include line(250px,2px,$startX + 70px,$startY + 315px);
		@include rotate(0deg);
	}

	.dnsDot{
		@include dot($startX + 61px,$startY + 303px,$smallDotSize);
	}

	.dnsCap{
			top: 299px + $startY;
			left: 0px + $startX;
		
	}




	.adminLine{
		@include line(380px,2px,$startX + 310px,$startY + 383px);
		@include rotate(200deg);
	}

	.adminDot{
		@include dot($startX + 495px,$startY + 370px,50px);
	}
	.securityLine{
		@include line(50px,2px,$startX + 496px,$startY + 350px);
		@include rotate(90deg);
	}
	.securityCap{
		top:304px + $startY;
		left: 535px + $startX;
	}

	.securityDot{
		@include dot($startX + 508px,$startY + 310px,$smallDotSize);
	}
	.cliLine{
		@include line(50px,2px,$startX +510px,$startY + 403px);
		@include rotate(225deg);
	}

	.cliDot{
		@include dot($startX + 546px,$startY + 414px,$smallDotSize);
	}
	.cliCap{
		top:435px + $startY;
		left: 515px + $startX;
		
	}


	.osDot{
		@include dot($startX + 660px,$startY + 436px,$smallDotSize);
	}

	.osCap{
		top:432px + $startY;
		left: 690px + $startX;
	}
}




/// Frames

