.nameStart{
	margin-top:50vh;
}

h1{
	font-weight: 100;
	font-size: 80px;
}

h2{
	font-weight: bold;
	font-size: 20px;
	margin-top: -30px;
	margin-left: 10px;	
	text-transform: uppercase;
	letter-spacing: 10px;
}
<<<<<<< HEAD


=======
.nextBorder{
	width:54px;
	height: 54px;
	line-height: 54px;
	text-align:center;
	font-size: 54px;
	cursor: pointer;
	&:hover{
		color: $mediumGray;
	}

}
>>>>>>> 42edddbea7ba25a264460f4368fcfaa7c0795ae8
