@include mq($from: "wide") {

    $centerX:390px;
    $centerY:380px;
   
    $webDevFontSize:55px;

    $phpTime:  800s;
    $pythonTime:  800s; 
    $frontendTime:  800s;
    $otherTime:  800s;


    $rf1:0deg;
    $txf:130px;
    $rf2:0deg;
    $rt1:360deg;
    $txt:130px;
    $rt2:-360deg;

    $pythonrf1:-180deg;
    $pythontxf:220px;
    $pythonrf2:180deg;

    $pythonrt1:180deg;
    $pythontxt:220px;
    $pythonrt2:-180deg;

    $frontendrf1:-90deg;
    $frontendtxf:320px; 
    $frontendrf2:90deg;

    $frontendrt1:270deg;
    $frontendtxt:320px;
    $frontendrt2:-270deg;

    $otherrf1:-270deg;
    $othertxf:420px;
    $otherrf2:270deg;

    $otherrt1:90deg;
    $othertxt:420px;
    $otherrt2:-90deg;





    .webDevContainer{
        width: 900px;
        height: 900px;
        margin: 0 auto;
        position: relative;
    }
    .webDevText{
        position: absolute;
        top:$centerY + 25px; 
        left:$centerX - 5px ;

        h1{
            font-family: $quicksand;
            margin: 0;
            padding: 0;
            font-size: $webDevFontSize;
            margin-bottom: -20px;
            color:$blue; 
            line-height: 1.2;   
           
        }  

       /* border:2px solid black;
        border-radius: 100px;
        height: 32vh;
        width: 32vh; 
        padding-top:3vh;
        padding-left: 1vh;
        */
    }
     

    .webdevLinkModal{
        cursor: pointer;
     
        &:hover{
            color:$blue;
            font-weight: bold;

        }

     
            color:$darkGray;
      
    } 



    .php{  
        background-color: $lightGray;
        font-size: 4vh;
        position: absolute; 
        
        left:$centerX + 15px;
        font-family: $quicksand;
        text-transform: uppercase;
        top: $centerY + 50px;
        -webkit-animation: phpOrbit $phpTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: phpOrbit $phpTime linear infinite; /* Firefox 5-15 */
             -o-animation: phpOrbit $phpTime linear infinite; /* Opera 12+ */
                animation: phpOrbit $phpTime linear infinite; /* Chrome, Firefox 16+,                                                       IE 10+, Safari 5 */
    }
    .phpOrbit{
        width: 250px;
        height: 250px;
        position: absolute;
        top: 330px;
        left: 315px;
        border: 2px solid $mediumGray;
        border-radius: 130px;
    }

    .python{  
        font-family: $quicksand;
        position: absolute;
        left: 400px;
        text-transform: uppercase;
        top: 440px;
        background-color: $lightGray;
        font-size: 20px;
        -webkit-animation: pythonOrbit $pythonTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: pythonOrbit $pythonTime linear infinite; /* Firefox 5-15 */
             -o-animation: pythonOrbit $pythonTime linear infinite; /* Opera 12+ */
                animation: pythonOrbit $pythonTime linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */  
    }
    .pythonOrbit{
        width: 440px;
        height: 440px;
        position: absolute;
        top: 228px;
        left: 220px;
        border: 2px solid $mediumGray;
        border-radius: 753px;
    }

    .frontend{ 
      background-color: $lightGray;
        font-size: 2vh;
        position: absolute;
        left: $centerX;
        font-family: $quicksand;
        text-transform: uppercase;
        top: $centerY + $webDevFontSize - 5px;
        -webkit-animation: frontendOrbit $frontendTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: frontendOrbit $frontendTime linear infinite; /* Firefox 5-15 */
             -o-animation: frontendOrbit $frontendTime linear infinite; /* Opera 12+ */
                animation: frontendOrbit $frontendTime linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */  
    }
    .frontendOrbit{
        width: 640px;
        height: 640px;
        position: absolute;
        top: 120px;
        left: 120px;
        border: 2px solid $mediumGray;
        border-radius: 753px;
    }

    .other{  
        background-color: $lightGray;
        font-size: 3vh;
        position: absolute; 
        left: $centerX - 7px; 
        font-family: $quicksand;
        text-transform: uppercase;
        top: $centerY + $webDevFontSize - 12px;
        -webkit-animation: otherOrbit $otherTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: otherOrbit $otherTime linear infinite; /* Firefox 5-15 */
             -o-animation: otherOrbit $otherTime linear infinite; /* Opera 12+ */
                animation: otherOrbit $otherTime linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */  
    }

    .otherOrbit{
        width:  850px;
        height: 850px;
        position: absolute;
        top: 12px;
        left: 16px;
      
        border: 2px solid $mediumGray;
        border-radius: 753px;
    }


    .orbitHover{
        border: 2px dotted $blue !important;
    }


    

    @-webkit-keyframes phpOrbit {
        from { -webkit-transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { -webkit-transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }

    @-moz-keyframes phpOrbit {
        from { -moz-transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { -moz-transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }


    @-o-keyframes phpOrbit {
        from { -o-transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { -o-transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }


    @keyframes phpOrbit {
        from { transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }




    @-webkit-keyframes pythonOrbit {
        from { -webkit-transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { -webkit-transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }

    @-moz-keyframes pythonOrbit {
        from { -moz-transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { -moz-transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }


    @-o-keyframes pythonOrbit {
        from { -o-transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { -o-transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }


    @keyframes pythonOrbit {
        from { transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }




    @-webkit-keyframes frontendOrbit {
        from { -webkit-transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { -webkit-transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }

    @-moz-keyframes frontendOrbit {
        from { -moz-transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { -moz-transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }


    @-o-keyframes frontendOrbit {
        from { -o-transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { -o-transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }


    @keyframes frontendOrbit {
        from { transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }





    @-webkit-keyframes otherOrbit {
        from { -webkit-transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { -webkit-transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }

    @-moz-keyframes otherOrbit {
        from { -moz-transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { -moz-transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }


    @-o-keyframes otherOrbit {
        from { -o-transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { -o-transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }


    @keyframes otherOrbit {
        from { transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }

    .webdevModal{
        width: 100vw;
        height: 100vh;
        background: $white;
        position: fixed; 
        z-index: 10000000;
        display: none;
        padding-top:6vh;
        top: 0px;
        left: 0px;
        font-family: $quicksand;
        font-size: 20px;
   
        

        .sliderControls{

            font-size: 60px;
            color: $mediumGray;
            div{
                padding: 0px 20px;
                cursor: pointer;
                display: inline-block;
                &:hover{
                    color: $darkGray;
                }

             }
        }

        .slick-slide{
            height: 500px;
        }
        .slick-slider{
            margin-top:100px;
        }
        .exitIcon{
            font-size: 2em;
            position: fixed;
            top:8vh;
            right:10vw;
            color: $mediumGray;
            cursor: pointer;
            &:hover{
                color: $darkGray;
            }
        }

        .menu{
            margin: 0;
            margin-bottom: 40px;

            li{
                list-style: none;
                display: inline;
                font-family: $quicksand;
                font-size: 20px;
                padding: 0 20px;
                cursor: pointer;
                &:first-child{
                    padding: 20px 0 0 0;
                }
                &:hover{
                    font-weight: bolder;

                }


            }

            .active{
                    //text-decoration: underline;
                    color: $darkGray;
                    font-weight: bolder;
                }
                
        }
    }

}  