@include mq($from: "desktop", $until: "wide") {

    $centerX:260px;
    $centerY:263px;
   
    $webDevFontSize:35px;

    $phpTime:  200s;
    $pythonTime:  200s; 
    $frontendTime:  200s;
    $otherTime:  200s;


    $rf1:0deg;
    $txf:100px;
    $rf2:0deg;
    $rt1:360deg;
    $txt:100px;
    $rt2:-360deg;

    $pythonrf1:-180deg;
    $pythontxf:160px;
    $pythonrf2:180deg;

    $pythonrt1:180deg;
    $pythontxt:160px;
    $pythonrt2:-180deg;

    $frontendrf1:-90deg;
    $frontendtxf:220px; 
    $frontendrf2:90deg;

    $frontendrt1:270deg;
    $frontendtxt:220px;
    $frontendrt2:-270deg;

    $otherrf1:-270deg;
    $othertxf:280px;
    $otherrf2:270deg;

    $otherrt1:90deg;
    $othertxt:280px;
    $otherrt2:-90deg;



  .container{
  display: table;
  height: 100vh;
   width: 100vw;
}
.content {
    display: table-cell;
    vertical-align: middle;
}


    .webDevContainer{
        width: 600px;
        height: 600px;
        margin: 0 auto;
        position: relative;
    }
    .webDevText{
        position: absolute;
        top:$centerY; 
        left:$centerX;

        h1{
            font-family: $quicksand;
            margin: 0;
            padding: 0;
            font-size: $webDevFontSize;
            margin-bottom: -20px;
            color:$blue;    
           
        }  

       /* border:2px solid black;
        border-radius: 100px;
        height: 32vh;
        width: 32vh; 
        padding-top:3vh;
        padding-left: 1vh;
        */
    }
     

    .webdevLinkModal{
        cursor: pointer;
     
        &:hover{
            color:$blue;
            font-weight: bold;

        }

     
            color:$darkGray;
      
    } 



    .php{  
        background-color: $lightGray;
        font-size: 4vh;
        position: absolute; 
        
        left:$centerX + 5px;
        font-family: $quicksand;
        text-transform: uppercase;
        top: $centerY + 17px;
        -webkit-animation: phpOrbit $phpTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: phpOrbit $phpTime linear infinite; /* Firefox 5-15 */
             -o-animation: phpOrbit $phpTime linear infinite; /* Opera 12+ */
                animation: phpOrbit $phpTime linear infinite; /* Chrome, Firefox 16+,                                                       IE 10+, Safari 5 */
    }
    .phpOrbit{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 204px;
        left: 190px;
        border: 1px solid $mediumGray;
        border-radius: 130px;
    }

    .python{  
        font-family: $quicksand;
        position: absolute;
        left: 260px;
        text-transform: uppercase;
        top: 290px;
        background-color: $lightGray;
        font-size: 15px;
        -webkit-animation: pythonOrbit $pythonTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: pythonOrbit $pythonTime linear infinite; /* Firefox 5-15 */
             -o-animation: pythonOrbit $pythonTime linear infinite; /* Opera 12+ */
                animation: pythonOrbit $pythonTime linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */  
    }
    .pythonOrbit{
        width: 320px;
        height: 320px;
        position: absolute;
        top: 143px;
        left: 130px;
        border: 1px solid $mediumGray;
        border-radius: 753px;
    }

    .frontend{ 
      background-color: $lightGray;
        font-size: 2vh;
        position: absolute;
        left: $centerX;
        font-family: $quicksand;
        text-transform: uppercase;
        top: $centerY + $webDevFontSize - 5px;
        -webkit-animation: frontendOrbit $frontendTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: frontendOrbit $frontendTime linear infinite; /* Firefox 5-15 */
             -o-animation: frontendOrbit $frontendTime linear infinite; /* Opera 12+ */
                animation: frontendOrbit $frontendTime linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */  
    }
    .frontendOrbit{
        width: 450px;
        height: 450px;
        position: absolute;
        top: 75px;
        left: 65px;
        border: 1px solid $mediumGray;
        border-radius: 753px;
    }

    .other{  
        background-color: $lightGray;
        font-size: 3vh;
        position: absolute; 
        left: $centerX - 7px; 
        font-family: $quicksand;
        text-transform: uppercase;
        top: $centerY + $webDevFontSize - 12px;
        -webkit-animation: otherOrbit $otherTime linear infinite; /* Chrome, Safari 5 */
           -moz-animation: otherOrbit $otherTime linear infinite; /* Firefox 5-15 */
             -o-animation: otherOrbit $otherTime linear infinite; /* Opera 12+ */
                animation: otherOrbit $otherTime linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */  
    }

    .otherOrbit{
        width: 570px;
        height: 570px;
        position: absolute;
        top: 13px;
        left: 4px;
      
        border: 1px solid $mediumGray;
        border-radius: 753px;
    }


    .orbitHover{
        border: 2px dotted $blue !important;
    }


    

    @-webkit-keyframes phpOrbit {
        from { -webkit-transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { -webkit-transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }

    @-moz-keyframes phpOrbit {
        from { -moz-transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { -moz-transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }


    @-o-keyframes phpOrbit {
        from { -o-transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { -o-transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }


    @keyframes phpOrbit {
        from { transform: rotate($rf1) translateX($txf) rotate($rf2); }
        to   { transform: rotate($rt1) translateX($txt) rotate($rt2); }
    }




    @-webkit-keyframes pythonOrbit {
        from { -webkit-transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { -webkit-transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }

    @-moz-keyframes pythonOrbit {
        from { -moz-transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { -moz-transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }


    @-o-keyframes pythonOrbit {
        from { -o-transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { -o-transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }


    @keyframes pythonOrbit {
        from { transform: rotate($pythonrf1) translateX($pythontxf) rotate($pythonrf2); }
        to   { transform: rotate($pythonrt1) translateX($pythontxt) rotate($pythonrt2); }
    }




    @-webkit-keyframes frontendOrbit {
        from { -webkit-transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { -webkit-transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }

    @-moz-keyframes frontendOrbit {
        from { -moz-transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { -moz-transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }


    @-o-keyframes frontendOrbit {
        from { -o-transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { -o-transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }


    @keyframes frontendOrbit {
        from { transform: rotate($frontendrf1) translateX($frontendtxf) rotate($frontendrf2); }
        to   { transform: rotate($frontendrt1) translateX($frontendtxt) rotate($frontendrt2); }
    }





    @-webkit-keyframes otherOrbit {
        from { -webkit-transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { -webkit-transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }

    @-moz-keyframes otherOrbit {
        from { -moz-transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { -moz-transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }


    @-o-keyframes otherOrbit {
        from { -o-transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { -o-transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }


    @keyframes otherOrbit {
        from { transform: rotate($otherrf1) translateX($othertxf) rotate($otherrf2); }
        to   { transform: rotate($otherrt1) translateX($othertxt) rotate($otherrt2); }
    }

        .webdevModal{
            width: 100vw;
            height: 100vh;
            background: rgba(255,255,255,0.8);
            position: fixed; 
            z-index: 10000000;
            display: none;
            padding-top:6vh;    
            top: 0px;
            left: 0px;
             font-family: $quicksand;
        font-size: 15px;
    
        

        .sliderControls{
            margin-top: 20px;
            font-size: 40px;
            color: $mediumGray;
            div{
                padding: 0px 14px;
                cursor: pointer;
                display: inline-block;
                &:hover{
                    color: $darkGray;
                }

             }
        }

        .slick-slide{
            height: 300px;
        }
        
        .exitIcon{
            font-size: 26px;
            position: fixed;
            top:8vh;
            right:10vw;
            color: $mediumGray;
            cursor: pointer;
            &:hover{
                color: $darkGray;
            }
        }

        .menu{
            margin: 0;
            margin-bottom: 40px;

            li{
                list-style: none;
                display: inline;
                font-family: $quicksand;
                font-size: 18px;
                padding: 0 20px;
                cursor: pointer;
                &:first-child{
                    padding: 20px 0 0 0;
                }
                &:hover{
                    font-weight: bolder;

                }


            }

            .active{
                    //text-decoration: underline;
                    color: $darkGray;
                    font-weight: bolder;
                }
                
        }
    }


}  