@include mq($from: "desktop", $until: "wide") {
	h1{
		margin-top: 200px;
		font-family: $quicksand;
		color:$lightGray;
		font-size: 90px;
	}

	p{
		font-family: $raleway;
		color: lightGray;
		a{
			color:$darkGray;
			&:hover{
				color: $lightGray;
			}
		}
	}
}