.sysadmin{
	background-color: $blue;
	height: 100vh;
	z-index: 100;
	position: relative;
} 



@mixin dot($x,$y,$radius) {
	position: absolute;
	top: $y;
	left:$x;
	height: $radius;
	width: $radius;
}
@mixin line($width,$height,$x,$y){
	height: $height;
	width: $width;
	position: absolute;
	top:$y;
	left:$x;

}

@mixin rotate($deg){
	transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
}


.circleInvert{
		background-color: $blue !important;
		border:5px solid $lightGray !important;
	}


@import "sysadmin/sysadminL";
@import "sysadmin/sysadminM";