nav{
	//display: none;
	width:300px;
	//background-color: red;
	position: fixed;
	right:10px;
	top:350px;
	z-index: 100;
	ul{
		width: 280px;
		margin: 0 auto;
		text-align: center;
		li{			
			list-style: none;
			font-family: $quicksand;
			font-size: 20px;
			cursor: pointer;
			&:hover{
				color:$blue;
				font-weight: bold;

			}


	-webkit-transition: color 1.5s ease, font-size 1.5s ease;
	-moz-transition: color 1.5s ease, font-size 1.5s ease;
	-o-transition: color 1.5s ease, font-size 1.5s ease;
	transition: color 1.5s ease, font-size 1.5s ease;	
		}

		.active{
			font-size: 40px;
		}

		.aroundActive{
			font-size: 30px;
		}
	}
}


.light{
	color:$mediumGray;
	&:hover{
		color:$darkGray;
	}
}
.dark{
	color:$darkGray;
	&:hover{
		color:$lightGray;
	}
}