@include mq($from: "wide") {
	.expContainer{
		height: 100vh;
		width: 1600px;
		position: relative;
	}

	.amcsOrbit{
		border: 2px solid $lightGray;
		border-radius: 10000px;
		height: 3000px;
		width: 3000px;
		position: absolute;
		top:-1000px;
		left: 100px;
		z-index: 1;

	}
	.asusOrbit{
		border: 2px solid $lightGray;
		border-radius: 10000px;
		height: 3000px;
		width: 3000px;
		position: absolute;
		top:-1000px;
		left: 500px;
		z-index: 1;
	}
	.hatorOrbit{
		border: 2px solid $lightGray;
		border-radius: 10000px;
		height: 3000px;
		width: 3000px;
		position: absolute;
		top:-1000px;
		left: 850px;
		z-index: 1;
	}
	.paradowskiOrbit{
		border: 2px solid $lightGray;
		border-radius: 10000px;
		height: 3000px;
		width: 3000px;
		position: absolute;
		top:-1000px;
		left: 1200px;
		z-index: 1;

	}

	.freelanceOrbit{
		border: 2px dashed $lightGray;
		border-radius: 10000px;
		height: 5000px;
		width: 5000px;
		position: absolute;
		top: 78px;
		left: -1440px;
		z-index: 1;
		pointer-events:none;
	}

	.amcsObject{
		@include dot(63px,586px,80px);
		background-color: $lightGray;
		border-radius: 300px;
		z-index:1000;
	}

	.amcsText{
		top:400px;
		left: 180px;
		h1{
			font-size: 80px;
		}

	}

	.asusText{
		top:400px;
		left: 580px;
		h1{
			font-size: 70px;
			margin-top: 10px;
			margin-bottom: 10px;
		}

	}



	.hatorText{
		top:400px;
		left: 920px;
		h1{
			font-size: 60px;
			margin-bottom: 15px;
			margin-top: 18px;
		}

	}

	.paradowskiText{
		top:400px;
		left: 1260px;
		h1{
			font-size: 45px;
			margin-bottom: 15px;
			margin-top: 30px;
		}

	}


	.asusObject{
		@include dot(482px,216px,80px);
		background-color: $lightGray;
		border-radius: 300px;
		z-index:1000;
	}

	.hatorObject{
		@include dot(862px,806px,50px);
		background-color: $lightGray;
		border-radius: 300px;
		z-index:1000;
	}

	.paradowskiObject{
		@include dot(1196px,276px,40px);
		background-color: $lightGray;
		border-radius: 300px;
		z-index:1000;
	}



	.expText{
		z-index: 1000;
		font-family: $quicksand;
		position: absolute;
		color:lightGray;
		h1,h2{
			font-family: $quicksand;
		}
		p{
			margin-top: -10px;
		}

		h2{
			margin-top: -40px;
			font-size: 39px;
		}
		h1{
			text-transform: uppercase;
		}
		p{
			border-top: 2px solid $lightGray;
			padding: 10px 0px;
			font-size: 20px;
		}
		span{
			font-size: 15px;
			display: block;
		}


	}


	 .moreInfoButton{
	 	z-index: 1000;
	 	cursor: pointer;
	 	width: 145px;
	 	text-align: center;
	 	font-family: $quicksand;
	 	border: 1px solid $lightGray; 
	 	padding: 5px;
	 	&:hover{
	 		background-color: $lightGray;
	 		color:$darkGray;	
	 	}
	 }

	 .expColor{
	 	background-color: yellow !important;
	 }


	 .sputnik{
	 	position: absolute;
    	top: 100px;
    	left: 677px;
    	max-width: 24px;
    	z-index: 100;
    	color:lightGray;
    	h2{
    		font-size: 25px;
    	}

    	.freelanceText{
    		position: absolute;
    		top: 31px;
    		left: -21px;
    	}
	 }


	 .invertedModal{
        width: 100vw;
        height: 100vh;
        background: $darkGray;
        position: fixed; 
        z-index: 10000000;
        display: none;
        padding-top:6vh;
        top: 0px;
        left: 0px;
        

        .sliderControls{
            margin-top: 20px;
            font-size: 60px;
            color: $lightGray;
            div{
                padding: 0px 20px;
                cursor: pointer;
                display: inline-block;
                &:hover{
                    color: $mediumGray;
                }

             }
        }

        .slick-slide{
            height: 600px;
        }
        
        .exitIcon{
            font-size: 3em;
            position: fixed;
            top:8vh;
            right:10vw;
            color: $lightGray;
            cursor: pointer;
            &:hover{
                color: $mediumGray;
            }
        }

        .menu{
            margin: 0;
            margin-bottom: 40px;

            li{
            	color: $lightGray;
                list-style: none;
                display: inline;
                font-family: $quicksand;
                font-size: 20px;
                padding: 0 20px;
                cursor: pointer;
                &:first-child{
                    padding: 20px 0 0 0;
                }
                &:hover{
                    font-weight: bolder;

                }


            }

            .active{
                    //text-decoration: underline;
                    color: $lightGray;
                    font-weight: bolder;
                }
                
        }
    }





}