@include mq($from: "wide") {
.aboutSlide{
	width: 100vw;
	height: 100vh;
	padding-top:123px;
	font-family: $quicksand;
	h1{
		color: $white;
		margin-top: 100px;
		font-family: $quicksand;
	}
	p{
		line-height: 1;
		color: $white;
		text-align: justify;
		font-size: 20px;
	}



}

	.sliderControls{
   line-height: 1;
    margin-top: 300px;
    font-size: 63px;
    color: white;
    z-index: 100000000;
    position: absolute;
    top: 380px;
    left: 574px;
    div{
      width: 70px;
      height: 70px;
        padding: 0px 20px;
        cursor: pointer;
        display: inline-block;
        &:hover{
            color: $darkGray; 
        }
    }
}

}