	@include mq($from: "desktop", $until: "wide") {
	nav{
		display: none;
		width:300px;
		//background-color: red;
		position: fixed;
		top: 40vh; bottom: 0; 
		right:10px;

		z-index: 1100;
		ul{
			width: 280px;
			margin: 0 auto;
			text-align: center;
			li{			
				list-style: none;
				font-family: $quicksand;
				font-size: 20px;
				cursor: pointer;
				


		-webkit-transition: color 1.5s ease, font-size 1.5s ease;
		-moz-transition: color 1.5s ease, font-size 1.5s ease;
		-o-transition: color 1.5s ease, font-size 1.5s ease;
		transition: color 1.5s ease, font-size 1.5s ease;	
			}

			.activeBlue{
				color:$darkGray;
				font-weight: bold;
			}

			.activeDark{
				color:$blue;
				font-weight: bold;
			}

			.activeLight{
				color:$lightGray;
				font-weight: bold;
			}


			//.aroundActive{
			//	font-size: 30px;
			//}
		}
	}


	.dark{	color:$darkGray;
		&:hover{
				font-weight: bold;
		}
		
	}
	.light{

	color:$mediumGrayPlus;
		&:hover{
				font-weight: bold;
		}
	}

	.blue{
		color:$lightGray;
		&:hover{
				font-weight: bold;
		}

	}
}